<a href="https://colab.research.google.com/github/shezta/Case-Study-02-Data-Mining-UIN-Ganjil-2022-Kelompok-8/blob/tes/Studi_Kasus_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
!wget P https://raw.githubusercontent.com/shezta/Case-Study-02-Data-Mining-UIN-Ganjil-2022-Kelompok-8/main/data_latihan.csv

--2022-10-11 14:04:53--  http://p/
Resolving p (p)... failed: Name or service not known.
wget: unable to resolve host address ‘p’
--2022-10-11 14:04:53--  https://raw.githubusercontent.com/shezta/Case-Study-02-Data-Mining-UIN-Ganjil-2022-Kelompok-8/main/data_latihan.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10440 (10K) [text/plain]
Saving to: ‘data_latihan.csv’

data_latihan.csv    100%[===================>]  10.20K  --.-KB/s    in 0s

2022-10-11 14:04:53 (95.8 MB/s) - ‘data_latihan.csv’ saved [10440/10440]

FINISHED --2022-10-11 14:04:53--
Total wall clock time: 0.3s
Downloaded: 1 files, 10K in 0s (95.8 MB/s)

In [9]:
data = pd.read_csv("data_latihan.csv", low_memory = False, encoding = "utf8")

In [11]:
data.head()

,ID,Jenis Kelamin,Umur,Pendapatan-per-bulan,skor-pengeluaran,Menikah,Kota,Promo,HariFav,FavFlavor
0,101,Wanita,49,"Rp13,114,754",52,1,Jakarta,1.0,Sabtu,2
1,102,Wanita,32,"Rp33,606,557",86,1,Depok,1.0,Minggu,6
2,103,Pria,51,"Rp15,983,606",41,1,Jakarta,2.0,Minggu,3
3,104,Pria,19,"Rp12,704,918",55,0,Jakarta,1.0,Rabu,7
4,105,Wanita,38,"Rp20,081,967",42,1,Jakarta,2.0,Senin,8

In [15]:
print(type(data))
N,P = data.shape
print("Baris =",N, "Kolom =",P)

<class 'pandas.core.frame.DataFrame'>
Baris = 200 Kolom = 10

In [13]:
data.columns

Index(['ID', 'Jenis Kelamin', 'Umur', 'Pendapatan-per-bulan',
       'skor-pengeluaran', 'Menikah', 'Kota', 'Promo', 'HariFav', 'FavFlavor'],
      dtype='object')

In [17]:
data.dtypes

ID                        int64
Jenis Kelamin            object
Umur                     object
Pendapatan-per-bulan     object
skor-pengeluaran          int64
Menikah                  object
Kota                     object
Promo                   float64
HariFav                  object
FavFlavor                 int64
dtype: object

In [20]:
data["Jenis Kelamin"] = data["Jenis Kelamin"].astype("category")
data["Umur"] = data["Umur"].astype("category")
data["Pendapatan-per-bulan"] = data["Pendapatan-per-bulan"].astype("category")
data["Menikah"] = data["Menikah"].astype("category")
data["Kota"] = data["Kota"].astype("category")
data["HariFav"] = data["HariFav"].astype("category")

In [22]:
data.dtypes

ID                         int64
Jenis Kelamin           category
Umur                    category
Pendapatan-per-bulan    category
skor-pengeluaran           int64
Menikah                 category
Kota                    category
Promo                    float64
HariFav                 category
FavFlavor                  int64
dtype: object