<a href="https://colab.research.google.com/github/shezta/Case-Study-02-Data-Mining-UIN-Ganjil-2022-Kelompok-8/blob/main/Studi%20Kasus%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [118]:
import warnings; warnings.simplefilter('ignore')
import pandas as pd
import numpy as np
import matplotlib as mp
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.cm as cm

In [119]:
!wget P https://raw.githubusercontent.com/shezta/Case-Study-02-Data-Mining-UIN-Ganjil-2022-Kelompok-8/main/Case-Study-02-MixITup.csv

--2022-10-12 01:47:34--  http://p/
Resolving p (p)... failed: Name or service not known.
wget: unable to resolve host address ‘p’
--2022-10-12 01:47:34--  https://raw.githubusercontent.com/shezta/Case-Study-02-Data-Mining-UIN-Ganjil-2022-Kelompok-8/main/Case-Study-02-MixITup.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 9248 (9.0K) [text/plain]
Saving to: ‘Case-Study-02-MixITup.csv.8’

Case-Study-02-MixIT 100%[===================>]   9.03K  --.-KB/s    in 0s

2022-10-12 01:47:34 (88.0 MB/s) - ‘Case-Study-02-MixITup.csv.8’ saved [9248/9248]

FINISHED --2022-10-12 01:47:34--
Total wall clock time: 0.1s
Downloaded: 1 files, 9.0K in 0s (88.0 MB/s)

In [120]:
data = pd.read_csv("Case-Study-02-MixITup.csv", low_memory = False, encoding = "utf8")

In [121]:
data.head()

,ID,Jenis Kelamin,Umur,Pendapatan-per-bulan,skor-pengeluaran,Menikah,Kota,Promo,HariFav,FavFlavor
0,101,Wanita,49,13114754,52,1,Jakarta,1.0,Sabtu,2
1,102,Wanita,32,33606557,86,1,Depok,1.0,Minggu,6
2,103,Pria,51,15983606,41,1,Jakarta,2.0,Minggu,3
3,104,Pria,19,12704918,55,0,Jakarta,1.0,Rabu,7
4,105,Wanita,38,20081967,42,1,Jakarta,2.0,Senin,8

#**Melihat Type Data**

In [122]:
print(type(data))
N,P = data.shape
print("Baris =",N, "Kolom =",P)

<class 'pandas.core.frame.DataFrame'>
Baris = 200 Kolom = 10

In [123]:
data.columns

Index(['ID', 'Jenis Kelamin', 'Umur', 'Pendapatan-per-bulan',
       'skor-pengeluaran', 'Menikah', 'Kota', 'Promo', 'HariFav', 'FavFlavor'],
      dtype='object')

#**Mengoreksi Type Data**

In [124]:
data.dtypes

ID                        int64
Jenis Kelamin            object
Umur                      int64
Pendapatan-per-bulan      int64
skor-pengeluaran          int64
Menikah                  object
Kota                     object
Promo                   float64
HariFav                  object
FavFlavor                 int64
dtype: object

In [125]:
data["Jenis Kelamin"] = data["Jenis Kelamin"].astype("category")
data["Umur"] = data["Umur"].astype("category")
data["Kota"] = data["Kota"].astype("category")
data["HariFav"] = data["HariFav"].astype("category")
data["Promo"] = data["Promo"].astype("category")
data["FavFlavor"] = data["FavFlavor"].astype("category")
data["ID"] = data["ID"].astype("category")

In [126]:
data.dtypes

ID                      category
Jenis Kelamin           category
Umur                    category
Pendapatan-per-bulan       int64
skor-pengeluaran           int64
Menikah                   object
Kota                    category
Promo                   category
HariFav                 category
FavFlavor               category
dtype: object

#**Mengatasi Missing Value**

In [127]:
data.duplicated().sum()

0

In [128]:
data.isna().sum()

ID                       0
Jenis Kelamin            5
Umur                     0
Pendapatan-per-bulan     0
skor-pengeluaran         0
Menikah                 13
Kota                     0
Promo                    6
HariFav                  0
FavFlavor                0
dtype: int64

In [129]:
data.drop("Menikah", axis = 1, inplace = True)
data

,ID,Jenis Kelamin,Umur,Pendapatan-per-bulan,skor-pengeluaran,Kota,Promo,HariFav,FavFlavor
0,101,Wanita,49,13114754,52,Jakarta,1.0,Sabtu,2
1,102,Wanita,32,33606557,86,Depok,1.0,Minggu,6
2,103,Pria,51,15983606,41,Jakarta,2.0,Minggu,3
3,104,Pria,19,12704918,55,Jakarta,1.0,Rabu,7
4,105,Wanita,38,20081967,42,Jakarta,2.0,Senin,8
...,...,...,...,...,...,...,...,...,...
195,296,Pria,31,4098360,73,Depok,1.0,Senin,0
196,297,Pria,57,15983606,51,Jakarta,1.0,Minggu,5
197,298,Wanita,35,43032786,79,Depok,1.0,Senin,7
198,299,Wanita,23,1229508,94,Depok,0.0,Selasa,0
199,300,Pria,50,1639344,14,Tangerang,3.0,Minggu,6

In [130]:
data = data.drop([22], axis=0)
data = data.drop([50], axis=0)
data = data.drop([120], axis=0)
data = data.drop([138], axis=0)
data = data.drop([188], axis=0)
data

,ID,Jenis Kelamin,Umur,Pendapatan-per-bulan,skor-pengeluaran,Kota,Promo,HariFav,FavFlavor
0,101,Wanita,49,13114754,52,Jakarta,1.0,Sabtu,2
1,102,Wanita,32,33606557,86,Depok,1.0,Minggu,6
2,103,Pria,51,15983606,41,Jakarta,2.0,Minggu,3
3,104,Pria,19,12704918,55,Jakarta,1.0,Rabu,7
4,105,Wanita,38,20081967,42,Jakarta,2.0,Senin,8
...,...,...,...,...,...,...,...,...,...
195,296,Pria,31,4098360,73,Depok,1.0,Senin,0
196,297,Pria,57,15983606,51,Jakarta,1.0,Minggu,5
197,298,Wanita,35,43032786,79,Depok,1.0,Senin,7
198,299,Wanita,23,1229508,94,Depok,0.0,Selasa,0
199,300,Pria,50,1639344,14,Tangerang,3.0,Minggu,6

In [131]:
data.isna().sum()

ID                      0
Jenis Kelamin           5
Umur                    0
Pendapatan-per-bulan    0
skor-pengeluaran        0
Kota                    0
Promo                   6
HariFav                 0
FavFlavor               0
dtype: int64